<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Burgerology</title>

    <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css" />
    <!-- font awesome cdn link -->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">

    <!-- custom css file link -->

    <link rel="stylesheet" href="css/menu.css">

    <link rel="icon" href="img/burger-4.png" sizes="16x16">
</head>

<body>
    <!-- header section starts -->-->

    <div class=" banner ">
        <div class="slider ">
            <img src="1.jpg " id="slideImg">
        </div>
        <div class="overlay ">
            <div class="nabar ">
            </div>
        </div>
    </div>

    <header>
        <a href="#" class="logo"><i class="fas fa-utensils"></i>Burgerology</a>
        <nav class="navbar">
            <a class="active" href="#home">Home</a>
            <a href="#dishes">Dishes</a>
            <a href="#order">Order</a>
            <a href="#table">Table Booking</a>
            <a href="#offer">Offers</a>
            <a href="#review">Reviews</a>
        </nav>


        <div class="icons">
            <i class="fas fa-user" id="users"></i>
            <i class="fas fa-bars" id="menu-bars"></i>
            <i class="fas fa-search" id="search-icon"></i>
            <a href="#" class="fas fa-heart"></a>
            <a href="#" class="fas fa-shopping-cart"></a>
        </div>
    </header>
    <!-- header section ends -->


    <!-- search-form -->

    <form action="" id="search-form">
        <input type="search" placeholder="search here...." name="" id="search-box">
        <label for="search-box" class="fas fa-search"></label>
        <i class="fas fa-times" id="close"></i>
    </form>



    <!-- home section starts -->
    <section class="home" id="home">
        <div class="swiper home-slider">
            <div class="swiper-wrapper wrapper">
                <div class="swiper-slide slide">
                    <div class="content">
                        <span>Our Special Dish</span>
                        <h3>Triple Beef Stacker</h3>
                        <p>
                            <h4>Price.350Tk </h4>
                            <h4 style="color:#813e3f;">Rating:9.5/10</h4>
                        </p>
                        <a href="#" class="btn">Order Now</a>
                        <a href="#" class="btn">Add to Cart</a>
                    </div>
                    <div class="image">
                        <img src="img/burger-1.png" alt="">
                    </div>
                </div>

                <div class="swiper-slide slide">
                    <div class="content">
                        <span>Our Special Dish</span>
                        <h3>BBQ Chicken Burger </h3>
                        <p>
                            <h4>Price.310Tk</h4>
                            <h4 style="color:#813e3f;">Rating:9/10</h4>
                        </p>
                        <a href="#" class="btn">Order Now</a>
                        <a href="#" class="btn">Add to Cart</a>
                    </div>
                    <div class="image">
                        <img src="img/burger-3.jpg" alt="">
                    </div>
                </div>


                <div class="swiper-slide slide">
                    <div class="content">
                        <span>Our Special Dish</span>
                        <h3>Mushroom Swiss Burger</h3>
                        <p>
                            <h4>Price.499Tk</h4>
                            <h4 style="color:#813e3f;">Rating:8.5/10</h4>
                        </p>
                        <a href="#" class="btn">Order Now</a>
                        <a href="#" class="btn">Add to Cart</a>
                    </div>
                    <div class="image">
                        <img src="img/sliderr.png" alt="">
                    </div>
                </div>


                <div class="swiper-slide slide">
                    <div class="content">
                        <span>Our Special Dish</span>
                        <h3>Creamy Beef Burger</h3>
                        <p>
                            <h4>Price.250Tk </h4>
                            <h4 style="color:#813e3f;">Rating:8.5/10</h4>
                        </p>
                        <a href="#" class="btn">Order Now</a>
                        <a href="#" class="btn">Add to Cart</a>
                    </div>
                    <div class="image">
                        <img src="img/beef-burger.png" alt="">
                    </div>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </section>
    <!-- home section ends -->


    <!-- dishes section starts -->
    <section class="dishes" id="dishes">
        <h3 class="sub-heading"> Our Dishes</h3>
        <h2 class="heading"> Popular Dishes</h2>
        <div class="box-container">
            <div class="card">
                <div class="imgbox">
                    <img src="img/regular chicken burger.jpg ">
                </div>
                <div class="content">
                    <div class="details">
                        <h2>Regular Chicken Burger<br><span>Tk.180</span>
                        </h2>
                        <div class="data">
                            <a href="#" class="fas fa-heart"></a>
                            <a href="#" class="fas fa-eye"></a>
                            <div class="stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star-half-alt"></i>
                            </div>

                        </div>
                        <div class="actionButton">
                            <button>Order Now</button>
                            <button>Add to Cart</button>
                        </div>

                    </div>
                </div>
            </div>
            <div class="card">
                <div class="imgbox">
                    <img src="img/crispy king burger.png">
                </div>
                <div class="content">
                    <div class="details">
                        <h2>Crispy king Burger<br><span>Tk.200</span>
                        </h2>
                        <div class="data">
                            <a href="#" class="fas fa-heart"></a>
                            <a href="#" class="fas fa-eye"></a>
                            <div class="stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star-half-alt"></i>
                            </div>

                        </div>
                        <div class="actionButton">
                            <button>Order Now</button>
                            <button>Add to Cart</button>
                        </div>

                    </div>
                </div>
            </div>
            <div class="card">
                <div class="imgbox">
                    <img src="img/tartar crispy chicken burger.png">
                </div>
                <div class="content">
                    <div class="details">
                        <h2>Tartar Crispy King Burger<br><span>Tk.270</span>
                        </h2>
                        <div class="data">
                            <a href="#" class="fas fa-heart"></a>
                            <a href="#" class="fas fa-eye"></a>
                            <div class="stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star-half-alt"></i>
                            </div>

                        </div>
                        <div class="actionButton">
                            <button>Order Now</button>
                            <button>Add to Cart</button>
                        </div>

                    </div>
                </div>
            </div>
            <div class="card">
                <div class="imgbox">
                    <img src="img/jalapeno.png">
                </div>
                <div class="content">
                    <div class="details">
                        <h2>Jalapeno Double Cheese Burger<br><span>Tk.350</span>
                        </h2>
                        <div class="data">
                            <a href="#" class="fas fa-heart"></a>
                            <a href="#" class="fas fa-eye"></a>
                            <div class="stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star-half-alt"></i>
                            </div>

                        </div>
                        <div class="actionButton">
                            <button>Order Now</button>
                            <button>Add to Cart</button>
                        </div>

                    </div>
                </div>
            </div>
            <div class="card">
                <div class="imgbox">
                    <img src="img/chicken tender.png">
                </div>
                <div class="content">
                    <div class="details">
                        <h2>Chicken Tender<br><span>Tk.250(3 pcs)</span>
                        </h2>
                        <div class="data">
                            <a href="#" class="fas fa-heart"></a>
                            <a href="#" class="fas fa-eye"></a>
                            <div class="stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star-half-alt"></i>
                            </div>

                        </div>
                        <div class="actionButton">
                            <button>Order Now</button>
                            <button>Add to Cart</button>
                        </div>

                    </div>
                </div>
            </div>
            <div class="card">
                <div class="imgbox">
                    <img src="img/fried chicken.jpg">
                </div>
                <div class="content">
                    <div class="details">
                        <h2>Tartar Crispy Fried Chicken<br><span>Tk.460(5 pcs)</span>
                        </h2>
                        <div class="data">
                            <a href="#" class="fas fa-heart"></a>
                            <a href="#" class="fas fa-eye"></a>
                            <div class="stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star-half-alt"></i>
                            </div>

                        </div>
                        <div class="actionButton">
                            <button>Order Now</button>
                            <button>Add to Cart</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- dishes section ends -->





    <!-- custom js file link -->
    <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
    <script >
        
        let menu = document.querySelector('#menu-bars');
let navbar = document.querySelector('.navbar');

menu.onclick = () => {
    menu.classList.toggle('fa-times');
    navbar.classList.toggle('active');
}

window.onscroll = () => {
    menu.classList.remove('fa-times');
    navbar.classList.remove('active');
}

document.querySelector('#search-icon').onclick = () => {
    document.querySelector('#search-form').classList.toggle('active');
}

document.querySelector('#close').onclick = () => {
    document.querySelector('#search-form').classList.remove('active');
}


var swiper = new Swiper(".home-slider", {
    spaceBetween: 30,
    centeredSlides: true,
    autoplay: {
        delay: 2500,
        disableOnInteraction: false,
    },
    pagination: {
        el: ".swiper-pagination",
        clickable: true,
    },
    loop: true,
});
    </script>

</body>

</html>