<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" href="/css/admin1.css">
    <title>Admin</title>
</head>

<body>
    <div class="page_wrape">
        <input type="checkbox" id="nav-toggle">
   
     <%- include('../partials/sidebar.ejs') %>
        <!-- Header starts -->
        <%- include('../partials/header.ejs') %>


        <!-- main content -->
        <div class="main-content ">

        </div>


        <!-- jquery file link -->

        <!-- <script>
        $(document).ready(function() {
            $(".bar").click(function() {
                $(".side-bar").toggleClass("hide")
            })
        })
    </script> -->


</body>

</html>