<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/4bf265f533.js"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="css/contact.css" />
    <title>Contact Us</title>
  </head>

  <body>
    <section class="contact">
      <div class="content">
        <h1>FOODnPLEASURE</h1>
        <h2>Contact Us</h2>
      </div>
      <div class="name">
        <h1>Burgerology</h1>
      </div>
      <div class="container">
        <div class="contactInfo">
          <div class="box">
            <div class="icon">
              <i class="fa fa-map-marker" aria-hidden="true"></i>
            </div>
            <div class="text">
              <h3>Address</h3>
              <p>
                12a Dhanmondi Lake Rd,<br />
                Dhaka 1205
              </p>
            </div>
          </div>

          <div class="box">
            <div class="icon">
              <i class="fa fa-phone" aria-hidden="true"></i>
            </div>
            <div class="text">
              <h3>Phone</h3>
              <p>507-987-6095</p>
            </div>
          </div>

          <div class="box">
            <div class="icon">
              <i class="fa fa-envelope-o" aria-hidden="true"></i>
            </div>
            <div class="text">
              <h3>Email</h3>
              <p>foodnpleasure_burgerology@gmail.com</p>
            </div>
          </div>
        </div>
        <div class="googlemap">
          <p>
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3652.132696500024!2d90.37669835026755!3d23.742646994914374!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3755b8b4303e36cf%3A0xefd69a5714c0ce03!2s12a%20Dhanmondi%20Lake%20Rd%2C%20Dhaka%201205!5e0!3m2!1sen!2sbd!4v1658261893380!5m2!1sen!2sbd"
              width="400"
              height="300"
              style="border: 0"
              allowfullscreen=""
              loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"
            ></iframe>
          </p>
        </div>
      </div>

      <div class="name">
        <h1>Candle café</h1>
      </div>
      <div class="container">
        <div class="contactInfo">
          <div class="box">
            <div class="icon">
              <i class="fa fa-map-marker" aria-hidden="true"></i>
            </div>
            <div class="text">
              <h3>Address</h3>
              <p>
                Asad Avenue, <br />
                Dhaka 1207
              </p>
            </div>
          </div>

          <div class="box">
            <div class="icon">
              <i class="fa fa-phone" aria-hidden="true"></i>
            </div>
            <div class="text">
              <h3>Phone</h3>
              <p>507-987-6099</p>
            </div>
          </div>

          <div class="box">
            <div class="icon">
              <i class="fa fa-envelope-o" aria-hidden="true"></i>
            </div>
            <div class="text">
              <h3>Email</h3>
              <p>foodnpleasure_candlecafe@gmail.com</p>
            </div>
          </div>
        </div>
        <div class="googlemap">
          <p>
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3651.656564244372!2d90.36362185026785!3d23.759623394265724!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3755bf579e10e0ef%3A0x6b7325b0f90d6a27!2sMohammadpur%20Town%20Hall%20Market!5e0!3m2!1sen!2sbd!4v1658262670935!5m2!1sen!2sbd"
              width="400"
              height="300"
              style="border: 0"
              allowfullscreen=""
              loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"
            ></iframe>
          </p>
        </div>
      </div>

      <div class="name">
        <h1>Chinese Mystic</h1>
      </div>
      <div class="container">
        <div class="contactInfo">
          <div class="box">
            <div class="icon">
              <i class="fa fa-map-marker" aria-hidden="true"></i>
            </div>
            <div class="text">
              <h3>Address</h3>
              <p>
                Bashundhara R\A,<br />
                Dhaka 1205
              </p>
            </div>
          </div>

          <div class="box">
            <div class="icon">
              <i class="fa fa-phone" aria-hidden="true"></i>
            </div>
            <div class="text">
              <h3>Phone</h3>
              <p>507-987-6085</p>
            </div>
          </div>

          <div class="box">
            <div class="icon">
              <i class="fa fa-envelope-o" aria-hidden="true"></i>
            </div>
            <div class="text">
              <h3>Email</h3>
              <p>foodnpleasure_chinesemystic@gmail.com</p>
            </div>
          </div>
        </div>
        <div class="googlemap">
          <p>
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d29199.77875028397!2d90.43680289763593!3d23.819582466954774!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3755c62fce7d991f%3A0xacfaf1ac8e944c05!2sBasundhara%20Residential%20Area%2C%20Dhaka!5e0!3m2!1sen!2sbd!4v1658262805206!5m2!1sen!2sbd"
              width="400"
              height="300"
              style="border: 0"
              allowfullscreen=""
              loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"
            ></iframe>
          </p>
        </div>
      </div>

      <div class="name">
        <h1>Steak-N-Dine</h1>
      </div>
      <div class="container">
        <div class="contactInfo">
          <div class="box">
            <div class="icon">
              <i class="fa fa-map-marker" aria-hidden="true"></i>
            </div>
            <div class="text">
              <h3>Address</h3>
              <p>
                Mirpur,1 Road 2,<br />
                Dhaka 1216
              </p>
            </div>
          </div>

          <div class="box">
            <div class="icon">
              <i class="fa fa-phone" aria-hidden="true"></i>
            </div>
            <div class="text">
              <h3>Phone</h3>
              <p>507-987-7095</p>
            </div>
          </div>

          <div class="box">
            <div class="icon">
              <i class="fa fa-envelope-o" aria-hidden="true"></i>
            </div>
            <div class="text">
              <h3>Email</h3>
              <p>foodnpleasure_steakndine@gmail.com</p>
            </div>
          </div>
        </div>
        <div class="googlemap">
          <p>
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3650.2811997514623!2d90.36204715026865!3d23.8085976923923!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3755c1b5d8640815%3A0x3d5e82efdb9c7ddc!2sMirpur%2C1%20Dhaka%201216%2C%20Road%2C2%20Basa%2C15.!5e0!3m2!1sen!2sbd!4v1658262986286!5m2!1sen!2sbd"
              width="400"
              height="300"
              style="border: 0"
              allowfullscreen=""
              loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"
            ></iframe>
          </p>
        </div>
      </div>

      <div class="name">
        <h1>KoreanaPleasure</h1>
      </div>
      <div class="container">
        <div class="contactInfo">
          <div class="box">
            <div class="icon">
              <i class="fa fa-map-marker" aria-hidden="true"></i>
            </div>
            <div class="text">
              <h3>Address</h3>
              <p>
                8 Baily Rd,<br />
                Dhaka 1205
              </p>
            </div>
          </div>

          <div class="box">
            <div class="icon">
              <i class="fa fa-phone" aria-hidden="true"></i>
            </div>
            <div class="text">
              <h3>Phone</h3>
              <p>507-987-9895</p>
            </div>
          </div>

          <div class="box">
            <div class="icon">
              <i class="fa fa-envelope-o" aria-hidden="true"></i>
            </div>
            <div class="text">
              <h3>Email</h3>
              <p>foodnpleasure_koreanapleasure@gmail.com</p>
            </div>
          </div>
        </div>
        <div class="googlemap">
          <p>
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3652.1544474811963!2d90.40824215026751!3d23.74187119494406!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3755b88af81571cb%3A0x7b256161c1ac28!2s8%20Baily%20Rd%2C%20Dhaka%201205!5e0!3m2!1sen!2sbd!4v1658263104262!5m2!1sen!2sbd"
              width="400"
              height="300"
              style="border: 0"
              allowfullscreen=""
              loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"
            ></iframe>
          </p>
        </div>
      </div>

      <div class="name">
        <h1>Biriyani Pleasure</h1>
      </div>
      <div class="container">
        <div class="contactInfo">
          <div class="box">
            <div class="icon">
              <i class="fa fa-map-marker" aria-hidden="true"></i>
            </div>
            <div class="text">
              <h3>Address</h3>
              <p>
                Purana Paltan Line,<br />
                Dhaka
              </p>
            </div>
          </div>

          <div class="box">
            <div class="icon">
              <i class="fa fa-phone" aria-hidden="true"></i>
            </div>
            <div class="text">
              <h3>Phone</h3>
              <p>507-997-7095</p>
            </div>
          </div>

          <div class="box">
            <div class="icon">
              <i class="fa fa-envelope-o" aria-hidden="true"></i>
            </div>
            <div class="text">
              <h3>Email</h3>
              <p>foodnpleasure_biriyanipleasure@gmail.com</p>
            </div>
          </div>
        </div>
        <div class="googlemap">
          <p>
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3652.290730535425!2d90.40948345026739!3d23.737009795129616!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3755b8f546b5743d%3A0x3193435a611264fb!2sPurana%20Paltan%20Line%2C%20Dhaka!5e0!3m2!1sen!2sbd!4v1658263237116!5m2!1sen!2sbd"
              width="400"
              height="300"
              style="border: 0"
              allowfullscreen=""
              loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"
            ></iframe>
          </p>
        </div>
      </div>
    </section>

    <div
      class="footer"
      style="
        padding-top: 15px;
        padding-bottom: 15px;
        text-align: center;
        font-size: 14px;
        color: #f2f2f2;
      "
    >
      <p>&copy; FoodnPleasure. 2022.All Rights Reserved</p>
      <p>Email: foodnpleasure@gmail.com</p>
    </div>
  </body>
</html>
