 <header>
   <div class="head_inner">
     <div class="right-part">
       <!-- <form>
         {/* <input type="text" placeholder="Search here..." required="">
                        <button><i class="fa fa-search" aria-hidden="true"></i></button> */}
       </form> -->
     </div>
     <div class="left-part">
       <ul>
         <li>
           <div class="profile">
             <div class="avtar-img">
               <span>
                 <a href="/profile/adminprofile">
                   <i class="fa fa-user" aria-hidden="true"></i>
                 </a>
               </span>
             </div>
             <div class="avtar-name">
               <h3>Admin</h3>
             </div>
           </div>
         </li>
         <li>
           <label for="nav-toggle">
             <span class="bar">
               <i class=" fa fa-bars " aria-hidden="true "></i>
             </span>
           </label>
         </li>
         <li>
           <label for="nav-toggle">
             <span class="bar">
               <i class=" fa fa-bars " aria-hidden="true "></i>
             </span>
           </label>
           <span>
             <a href="/menuburger_admin.html">
               <i class="fa fa-arrow-left" aria-hidden="true"></i>
             </a>
           </span>
         </li>
       </ul>
     </div>
   </div>
 </header>;